body {
  padding-left: 10px;
}

.button {
  border: none;
  height: 30px;
  width: 150px;
  background-color: teal;
  color: white;
  margin-left: 15px;
  cursor: pointer;
  transition: transform 100ms cubic-bezier(0.23, 1, 0.32, 1);
}

.button:hover {
  transform: scale(1.05);
}

.flexbox {
  display: flex;
}

.wrapper {
  width: 500px;
}
.noContacts {
  display: block;
  text-align: center;
}

.Notify {
  position: absolute;
  right: 0;
  top: 0;
  padding: 5px;
  width: 250px;
  background: #fff;
  background-color: rgba(255, 0, 0, 0.1);
}

.Notify__text {
  margin: 0;
  padding: 0;
  font-size: 12px;
}
